In [1]:
import pandas as pd
import numpy as np

In [4]:
l1=[1,2,3,4,5]
l2=[3,4,1,2,5]
idx=[1,2,3,4,5]

In [28]:
df = pd.DataFrame({'col1':l1, 'col2':l2}, index = idx)
df

   col1  col2
1     1     3
2     2     2
3     3     1

In [29]:
new_df = df.sort_values(by = 'col1', ascending = True, axis = 0)
new_df

   col1  col2
1     1     3
2     2     2
3     3     1

In [30]:
df.corr(method = 'kendall')

      col1  col2
col1   1.0  -1.0
col2  -1.0   1.0

In [5]:
import numpy as np

def normalised_kendall_tau_distance(values1, values2):
    """Compute the Kendall tau distance."""
    n = len(values1)
    assert len(values2) == n, "Both lists have to be of equal length"
    i, j = np.meshgrid(np.arange(n), np.arange(n))
    a = np.argsort(values1)
    b = np.argsort(values2)
    ndisordered = np.logical_or(np.logical_and(a[i] < a[j], b[i] > b[j]), np.logical_and(a[i] > a[j], b[i] < b[j])).sum()
    return ndisordered / (n * (n - 1))

In [6]:
normalised_kendall_tau_distance(l1,l2)

0.4